
// FONTS
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
$font-primary: 'Space Mono', monospace;
$regular: 400;
$bold: 700;

// RESPONSIVE BREAKPOINTS
$bp-largest: 75em;   // 1200px
$bp-large: 62.5em;   // 1000px
$bp-medium: 50em;    // 800px
$bp-small: 37.5em;   // 600px
$bp-smallest: 25em;  // 400px

// COLORS
$color-cyan: hsl(172, 67%, 45%);
$color-dark-1: hsl(186, 27%, 30%);
$color-dark-2: hsl(184, 14%, 56%);
$color-dark-3: hsl(183, 100%, 15%);
$color-light-1: hsl(185, 41%, 84%);
$color-light-2: hsl(189, 41%, 97%);
$color-white: hsl(0, 0%, 100%);



//////////////////
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

::selection {
    background-color: $color-cyan;
    color: $color-light-1;
}

html {
    font-size: 62.5%;      // 1rem = 10px

    @media screen and (max-width: $bp-largest) {
        font-size: 50%;    // 1rem = 8px
    }

    @media screen and (max-width: $bp-large) {
        font-size: 43.75%; // 1rem = 7px
    }

    @media screen and (max-width: $bp-medium) {
        font-size: 37.5%;  // 1rem = 6px
    }
}

html,
body {
    @media screen and (min-height: 45rem) and (min-width: $bp-small) {
        height: 100%;
        overflow: hidden;
    }
}

body {
    box-sizing: border-box;
    font-family: $font-primary;
    background-color: $color-light-1;
    color: $color-dark-1;
    font-weight: $regular;
    font-size: 1.6rem;
}